* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0032a0;
}

.color-white {
  color: #f9f9f9;
}

.bg-white {
  color: #f9f9f9;
}

.color-black {
  color: #121212;
}

.color-s {
  color: #0032a0;
}

.color-c {
  color: #0032a0;
}

.bg-black {
  background-color: #121212;
}

.bg-icon {
  background-color: #0032a0;
}

p {
  color: #121212;
}

img {
  width: 100% !important;
  height: auto !important;
}

.text-justify {
  text-align: justify !important;
}

.logo {
  width: 150px;
}

.color-icon {
  color: #0032a0 !important;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 99 !important;
}

header {
  z-index: 99;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 999;
}

header .list-menu .list li .item-menu {
  display: inline-block;
  position: relative;
}

header .list-menu .list li .item-menu:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0032a0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header .list-menu .list li .item-menu:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

header .menu-bar-movil {
  width: 100%;
  position: fixed;
  z-index: 99999 !important;
  top: 0;
  padding: 0 1.5rem;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.875rem;
}

header .menu-bar-movil .logo-menu-movil {
  width: 6rem;
}

header .menu-bar-movil .burger-menu {
  cursor: pointer;
  font-size: 2.1875rem;
}

header .menu-bar-movil .slideMenu {
  position: fixed;
  height: 100%;
  top: 0;
  left: -80%;
  background: #f9f9f9;
  text-align: left;
  width: 80%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .menu-bar-movil .slideMenu.active {
  left: 0;
}

header .menu-bar-movil .slideMenu .top-redes {
  margin-bottom: 0.625rem;
}

header .menu-bar-movil .slideMenu .top-redes a {
  padding: 0 0.5625rem;
}

header .menu-bar-movil .slideMenu .menu-principal a {
  display: block;
  padding: 0.625rem 1rem;
}

header .menu-bar-movil .slideMenu .menu-principal a:hover {
  background: #fff;
}

.btn-contacto {
  border: 1px solid #0032a0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #f9f9f9;
  text-decoration: none;
}

.btn-contacto:hover {
  background-color: #0032a0 !important;
  color: #f9f9f9;
}

.carousel-bg {
  height: 500px !important;
}

.carousel-bg:nth-child(1) {
  background-image: url(../img/banner-1.jpg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(1)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(2) {
  background-image: url(../img/banner-2.jpg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(2)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(3) {
  background-image: url(../img/banner-3.jpg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(3)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(4) {
  background-image: url(../img/banner-4.jpg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(4)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(5) {
  background-image: url(../img/banner-6.jpg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(5)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.text-banner {
  z-index: 99 !important;
}

main {
  overflow: hidden;
}

main .icon {
  width: 50px;
}

.img-hover, .card-hover-bg {
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}

.card-hover-bg:hover {
  background: #0032a0;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}

.card-hover-bg:hover h3, .card-hover-bg:hover p {
  color: #f9f9f9 !important;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}

.card-hover-bg:hover .img-hover {
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #f9f9f9 !important;
}

@media (max-width: 600px) {
  .text-sm-center {
    text-align: center;
  }
  .icon-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar {
    display: none !important;
  }
  .bar-menu {
    display: none !important;
  }
  .menu-bar-movil {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .bg-silueta {
    height: 600px !important;
  }
  .btn-contacto-menu {
    visibility: hidden !important;
  }
  .redes-sociales {
    visibility: hidden !important;
  }
  header {
    position: fixed;
    background: #f9f9f9;
  }
  .carousel-bg {
    height: 100vh !important;
  }
  .justify-content-center-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .justify-content-center-sm p {
    text-align: center;
  }
  .flex-column-reverse-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ocultar {
  opacity: 0;
}

.animar {
  -webkit-animation: aparecer 1.3s;
          animation: aparecer 1.3s;
}

footer {
  background: #d1d1d1;
}
/*# sourceMappingURL=style.css.map */